body{
    display: block;
    justify-content: center;
    background-color: rgb(82, 180, 156);
    margin-left: 600px;
    margin-top: 200px;
    margin-right: 600px;
    
}

.admin ,.emp{
   background-color: rgb(145, 235, 230); 
   border: 2px solid black;
   padding: 10px;
   padding-left: 15px;
   border-radius: 6px;
}


 .btn{
    color: rgb(44, 195, 209);
    font-weight: 400;
    font-family: Georgia, 'Times New Roman', Times, serif;
}